<h1> Hello World! </h1>
<h2>
  <pre>Made with &lt;3 and Python</pre>
</h2>
<em>by <b>Ayush Mandowara</b></em>

<hr>

<div>
  <h3>About `Me`</h3>
  <form action='/about' method='post'>
    My Name is <input type="text" placeholder="NAME" name="my_name">
    <br>
    <label>I would rather have </label>
    <select name="dd">
      <option value="money">Money</option>
      <option value="fame">Fame</option>
    </select>
    <br>
    because <input type="text" placeholder="Reason" name="reason"></input>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>
