<h1> Hello World! </h1>
<h2>
  <pre>Made with &lt;3 and Python</pre>
</h2>
<em>by <b>Ayush Mandowara</b></em>

<hr>

<div>
  <h3>About `Me`</h3>
  <!-- Creating an About Me HTML Form -->
  <!-- on form submission, form data will be posted and page will be redirected to /about endpoint -->
  <!-- We specify post method when submitting data to the server -->
  <form action='/about' method='post'>
    My Name is <input type="text" placeholder="NAME" name="my_name">
    <br>
    <label>I would rather have </label>
    <select name="dd">
      <option value="money">Money</option>
      <option value="fame">Fame</option>
    </select>
    <br>
    because <input type="text" placeholder="Reason" name="reason"></input>
    <br>
    I can do simple math,
    like adding <input type="number" name="first_number" placeholder="Enter First Number">
    with <input type="number" name="second_number" placeholder="Enter Second Number">
    but I would rather have the machine do it for me.
    <br>
    <!-- element of type submit submits the form -->
    <button type="submit">Submit</button>
  </form>
</div>
